body {
    font-family: "Proxima Nova", cursive, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url("weatherbg.avif");
    background-image: url("weatherbg.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.home {
  width: 300px;
  height: 400px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background-color: white;
  opacity : 0.8;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.search-bar {
  width: 185px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-input {
  width: 100%;
  height: var(--dl-size-size-small);
}
.search-bar-button {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
}
.weatherdata {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.weathericon {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}
.weathertxt {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
