body {
    font-family: "Proxima Nova", cursive, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url("weatherbg.avif");
    background-image: url("weatherbg.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.home {
  width: 420px;
  height: auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background-color: white;
  opacity : 0.8;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.search-bar {
  width: 185px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-input {
  width: 100%;
  height: var(--dl-size-size-small);
}
.search-bar-button {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
}
.citydata {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.citydata p {
    font-size: 28px;
    font-style: bold;
}

.tempdata {
    flex: 0 0 auto;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-self: center;
    align-items: center;
}

.tempdata h1 {
    font-size: 60px;
}

.weatherdata {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.weathericon {
    flex: 0 0 auto;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  align-self: center;
  object-fit: none;
}

.weathertxt {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weathertxt h1 {
    font-size: 30px;
}
