<!DOCTYPE html>
<html th:replace="~{base :: base(~{::title}, ~{::section})}"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
    </head>
    <body>
        <section class = "home">
            <div class = "searchbar">
                <form action = "/current" method="POST">
                    <input type="text" name="zipCode" placeholder = "Enter 5-digit zip code...">
                    <!--Submission button to submit data-->
                    <input type="submit" value = "&#x1F50D;">
                </form>
            </div>
        </section>
    </body>
</html>